<div class="container">

<h3 style="text-align: center; font-weight: bold;">Upload Assignment</h3>

<form  ngForm (ngSubmit)="UploadAssignment()">
  <div class="form-group">
    <label style="font-weight: bold; font-size: medium; color: green;">
      Uplaod Assignment
    </label>
    <input type="file" class="form-control" (change)="OnUploadAssignment($event)">
  </div>


  <div class="form-group">
    <label style="font-weight: bold; font-size: medium;" for="StudentId">
      Select Assignment ID
    </label>
    <select name="StudentId" class="form-control"  [(ngModel)]="AssignId" >
      <option value=""  selected>--Select--</option>
      <option *ngFor="let op of Ids" [value]="op.ID">{{ op.ID }}</option>
    </select>
  </div>

  <button class="btn btn-success" type="submit">Upload</button>

  
</form>

  <h1 style="text-align: center; font-weight: bold;">Due Assignments</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Scores</th>
        <th scope="col">Course</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tbody>
            <tr *ngFor="let assign of Assign">
                <td>{{ assign.Id }}</td>
                <td>{{ assign.Name }}</td>
                <td>{{ assign.StartTime }}</td>
                <td>{{ assign.EndTime }}</td>
                <td>{{ assign.Score }}</td>
                <td>{{ assign.Course?.CourseName }}</td>
                <button (click)="DownloadWordFile(assign.Text)" class="btn btn-primary" >Download</button>
    </tbody>
    </table>

    <h2 style="text-align: center; font-weight: bold;">Submitted Assignments</h2>
    <table class="table table table-striped">
      <thead>
        <tr>
          <th scope="col">File ID</th>
          <th scope="col">File Name</th>
          <th scope="col">Assignment ID</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assign of UploadedData">
          <td>{{ assign.Id }}</td>
          <td>{{ assign.Name }}</td>
          <td>{{ assign.AssignmentId }}</td>
          <button (click)="DownloadUploadedFile(assign.Text,assign.Name)" class="btn btn-primary" >Download</button>
      </tbody>
    </table>
</div>