
    <div class="container">
        <h2 class="text-center my-5">Explore Our Homepage Designs</h2>
        <div class="gallery">
            <div class="gallery-item">
                <img src="assets/Icons/class.jpg" alt="Online Classes" data-bs-toggle="modal" data-bs-target="#classModal">
                <h3 style="font-weight: bolder;">Online Classes</h3>
            </div>
            <div class="gallery-item">
                <img src="assets/Icons/Quizes.jpg" alt="Work To Do" data-bs-toggle="modal" data-bs-target="#quizesModal">
                <h3 style="font-weight: bolder;">Work To Do</h3>
            </div>
            <div class="gallery-item">
                <img src="assets/Icons/Attendance%20(1).jpg" alt="Moniterization" data-bs-toggle="modal" data-bs-target="#attendanceModal">
                <h3 style="font-weight: bolder;">Moniterization</h3>
            </div>
        </div>
    </div>