<div class="container">
<div class="row">
    <div class="col-md-10">
    <h1>Courses List</h1>
    </div>
<div class="col-md-2">
<button class="btn btn-success" (click)="navigateToCreateCourse()">Create New</button>
</div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Course Description</th>
        <th>Teacher</th>
        <th style="text-align: center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of courses">
            <td>{{c.Id}}</td>
            <td>{{c.CourseName}}</td>
            <td>{{c.Description}}</td>
            <td>{{c.Teacher?.FirstName}}{{" "}}{{c.Teacher?.LastName}}</td>
            <td class="text-center">  
            <a routerLink='/Course/{{c.Id}}/Edit'   class="btn btn-success mx-2">Edit</a>|
            <button class="btn btn-danger" (click)="Delete($event,c.Id)">Delete</button>
        </td>
        </tbody>
</table>
</div>
<router-outlet></router-outlet>