
<mat-nav-list >
    <div class="logo py-4">
        <img src="../../../assets/Icons/education-lab-high-resolution-logo.png"  alt="Education Lab">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/Home"  routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
        </a>
        <a mat-list-item routerLink="/student-list"  routerLinkActive="list-item-active">
            <mat-icon>groups</mat-icon>Admission
            </a>
            <a mat-list-item routerLink="/teacher-list"  routerLinkActive="list-item-active">
                <mat-icon>groups</mat-icon>Teachers 
                </a>
                <a mat-list-item routerLink="/Courses-list"  routerLinkActive="list-item-active">
                    <mat-icon>menu_book</mat-icon>Courses Offering
                    </a>
                    <a mat-list-item routerLink="/Enrollment"  routerLinkActive="list-item-active">
                        <mat-icon>post_add</mat-icon>Enrollment
                        </a>

        <a mat-list-item>  <mat-icon>edit_document</mat-icon>Assignment</a>
        <a mat-list-item>  <mat-icon>edit_document</mat-icon>Quiz</a>
        <a mat-list-item>  <mat-icon>person</mat-icon>Attendance</a>
        <a mat-list-item>  <mat-icon>description</mat-icon>Result</a>
</mat-nav-list>

