<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Teacher List</h2>
        </div>
        <div class="col-md-2">
            <button  style="background-color: green;"  class="btn btn-success mx-2" (click)="navigateToCreateForm()">Create New</button>
        </div>
    </div>
    

<table class="table table-striped">
    <thead>
        <tr>
        <th class="text-center">ID</th>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>    
        <th class="text-center">Contact</th>
        <th class="text-center">Qualification</th>
        <th class="text-center">Email</th>
        <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tbody>
            <tr *ngFor="let teacher of teachers">
                <td>{{ teacher.Id }}</td>
                <td>{{ teacher.FirstName }}</td>
                <td>{{ teacher.LastName }}</td>
                <td>{{ teacher.Contact }}</td>
                <td>{{ teacher.Qualification }}</td>
                <td>{{ teacher.Email }}</td>
                <td class="text-center">
                    <a routerLink="/teachers/{{teacher.Id}}/Edit" class="btn btn-success mx-2">
                        <i class="bi bi-pencil"></i> Edit
                    </a>|
                    <button style="background-color: red;" class="btn btn-danger" (click)="Delete($event, teacher.Id)">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </td>
            </tbody>
</table>
</div>