
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StudentCrud</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="mat-typography">
  <form ngForm>
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form>
      
                        <div >
                           <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: x-large;">Log In</p>
                        </div>
      
                       
      
                        <div class="form-outline mb-4">
                          <input type="text"  name="UserName" class="form-control form-control-lg" placeholder="Enter Your username" [(ngModel)]="log.UserName"/>
                          <label class="form-label" for="form2Example27"></label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password"  name="Password" class="form-control form-control-lg" placeholder="Enter Your Password" [(ngModel)]="log.Password"/>
                            <label class="form-label"  ></label>
                          </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-dark btn-lg btn-block" (click)="OnSubmit()" type="submit">Login</button>
                        </div>
      
                        <a class="small text-muted" href="#!">Forgot password?</a>
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a  routerLink="/Register" href="#!"
                            style="color: #393f81;">Register here</a></p>
                            <div class="form-group form-check">
                              <input type="checkbox" id="remember" name="remember" class="form-check-input">
                              <label for="remember" class="form-check-label">Remember Me</label>
                          </div>
                        <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </form>
</body>
</html>
