<div class="container">
  <div class="row">
    <div class="col-md-9">
    <h1>Assigments List</h1>
  </div>
  <div class="col-md-3">
<button class="btn btn-primary" (click)="NaviagetToCreate()">Upload Assignment</button>
</div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Scores</th>
        <th scope="col">Course</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
        <tbody>
            <tr *ngFor="let assign of Data">
                <td>{{ assign.Id }}</td>
                <td>{{ assign.Name }}</td>
                <td>{{ assign.StartTime }}</td>
                <td>{{ assign.EndTime }}</td>
                <td>{{ assign.Score }}</td>
                <td>{{ assign.Course?.CourseName }}</td>
                <td class="text:center">
                |<button class="btn btn-danger" (click)="OnDelet($event,assign.Id)">Delete</button>
                </td>
    </tbody>
    </table>
  </div>